body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #191a1b;
    color: #fff;
    padding: 20px;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

section {
    padding: 50px;
}

.project {
    margin-bottom: 30px;
   
}

.profile {
    align-items: right;
    max-width: fit-content;
    flex: 1;
}
#profile{
    border-radius: 50%;
}
.navbar {
  
   flex: 1;
}

.projectimgs {
    display: flex;
}
.projectss {
    flex: 1;
}